<h1>Welcome!</h1>

<% if current_user %>
  <p>hello, <%= current_user.name %></p>
  <%= link_to "logout", logout_path %>
<% else %>
  <%= link_to "login", login_path %>
<% end %>


<% if current_user %>
<h3>Your Twitter Timeline!</h3>
<ul>
<% current_user.twitter_timeline.each do |tweet| %>
<li>
  <p><%= distance_of_time_in_words(Time.now, tweet.created_at) %> ago, <%= tweet.user.screen_name %> said:</p>
  <p><%= tweet.text %></p>
</li>
<% end %>
</ul>
<% end %>
